{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": "> 0.25%, not dead"
        //"modules": "umd"
      }
    ]
  ],
  "plugins": ["@babel/plugin-proposal-object-rest-spread"]
}
